<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
      body {
        background-color:aliceblue;
        color:navy;
        font-family: 'Courier New', Courier, monospace;
      }
      nav {
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 30px;
      }
      footer {
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
  <footer>
    <p>
      <a href="https://github.com/cburns39/cburns39.github.io" target="_blank">GitHub</a>
    </p>
  </footer>
</html>